.App {
  text-align: center;
  width: 100vw;
}
.App .navBar {
  position: sticky;
  top: 0;
  box-shadow: 3px 7px lavender;
  font-style: italic;
  text-align: center;
  height: 50px;
  padding: 10px;
  background: lightgoldenrodyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App .navBar .logo {
  padding: 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border-right: 2px solid black;
  padding-right: 10px;
  height: 55;
}
.App .navBar .logo span {
  font-weight: bold;
}
.App .navBar .logo span:hover {
  border-bottom: 3px solid lightskyblue;
  color: lightseagreen;
  font-size: 20px;
}
.App .navBar .logo .box1 {
  width: 40px;
  height: 47px;
  margin-right: 20px;
  align-items: space-around;
}
.App .navBar .logo .box1:hover {
  width: 45px;
}
.App .navBar .logo .box1 .box2 {
  border-top: 2px solid black;
  margin-top: 7px;
  padding-top: 12px;
}
.App .navBar .logo .box1 .box3 {
  border-top: 2px solid black;
}
.App .navBar .logo .box1 .box4 {
  border-top: 2px solid black;
  margin-top: 12px;
  padding-top: 25px;
}
.App .navBar .box {
  display: flex;
  text-align: center;
  padding: 10px;
}
.App .navBar .box:hover {
  border-bottom: 3px solid lightskyblue;
  font-weight: bold;
}
.App .navBar .help {
  border-left: 2px solid black;
  width: 50px;
}
.App .navBar .sign-join {
  display: flex;
  margin-left: 80px;
  margin-right: 0px;
  padding-right: 0px;
}
.App .sideBar {
  border: 2px solid green;
  width: 300px;
  position: absolute;
  top: 0;
  padding: 10px;
  margin-left: -400px;
  height: 100vh;
  color: green;
}
.join {
  width: 60vw;
  height: 55vh;
  background: #dfb1b8;
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-top: 10vh;
}
.join .join-box1 {
  border: 2px solid green;
  height: 60%;
}
.join .join-box2 {
  border: 2px solid red;
  align-content: center;
  flex-direction: column;
}
.join .join-box2 .join-box2-sh-car {
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
}
.join .join-box2 .join-box2-sh-car .shipper-btn {
  border: 2px solid black;
  width: 30%;
  height: 60px;
  font-size: 20px;
}
.join .join-box2 .join-box2-sh-car .shipper-btn:hover {
  background: lightblue;
}
.join .join-box2 .join-box2-sh-car .carrier-btn {
  border: 2px solid black;
  width: 30%;
  height: 60px;
  font-size: 20px;
}
.join .join-box2 .join-box2-sh-car .carrier-btn:hover {
  background: lightblue;
}
.join .join-box2 .join-box2-sh-car .broker-btn {
  border: 2px solid black;
  width: 30%;
  height: 60px;
  font-size: 20px;
}
.join .join-box2 .join-box2-sh-car .broker-btn:hover {
  background: lightblue;
}
.join .join-box2 .join-box2-facebook-email {
  background: fuchsia;
}
.howItWorks {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: linen;
}
.howItWorks .howItWorks-text {
  width: 50%;
  height: 100vh;
  background: darkgoldenrod;
}
.howItWorks .howItWorks-text .text-h1 {
  text-align: center;
  height: 30vh;
}
.howItWorks .btn .btn-1 {
  width: 200px;
  height: 50px;
  background: lightskyblue;
  font-size: 20px;
  font-weight: bold;
}
.howItWorks .btn .btn-1:hover {
  background: darkcyan;
}
.howItWorks .btn .btn-2 {
  width: 200px;
  height: 50px;
  background: whitesmoke;
  margin-left: 20px;
  border: 2px solid lightskyblue;
  font-size: 20px;
  font-weight: bold;
}
.howItWorks .btn .btn-2:hover {
  background: darkcyan;
}
.howItWorks .btn .btn-3 {
  width: 200px;
  height: 50px;
  background: lightslategrey;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.howItWorks .btn .btn-3:hover {
  background: darkcyan;
}
.findShipments {
  display: flex;
  flex-wrap: nowrap;
  background: lightblue;
}
.findShipments .box-5 {
  box-shadow: 3px 7px lavender;
  width: 30%;
  height: 100vh;
}
.findShipments .box-5 input {
  width: 200px;
  height: 50px;
  border: 2px solid darkcyan;
}
.findShipments .box-5 .categories {
  display: flex;
  flex-direction: column;
  flex-wrap: shrink;
  margin-top: 10px;
  border-top: 2px solid darkgray;
  background: lightgreen;
  height: 65%;
}
.findShipments .box-6 {
  width: 70%;
  height: 100vh;
}
.ship .ship-nsh {
  border: 2px solid red;
  height: 15vh;
}
.ship .ship-cat {
  border: 2px solid blue;
  height: 80vh;
}
.ship .ship-cat .ship-cat-2 {
  display: flex;
  flex-direction: row;
}
.ship .ship-cat .ship-cat-2 .s {
  border: 1px solid lightsalmon;
  width: 33%;
  height: 400px;
}
a {
  text-decoration: none;
  color: green;
}
